
<div id="diplomacy" style="display : none">
                                <p class="nothing">
                                    {{ 'tabs.diplomacy.noDiplomacy' | trans([], 'Management') }}
                                </p>

                                <a href="http://kingdom.muxxu.com/?tab=diplo;dinv=1" class="button"
                                   onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;Voir les accords diplomatiques des autres joueurs vous concernant&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                   onmouseout="mt.js.Tip.hide()">Inverser</a>

                                <p>
                                    Chercher un joueur :
                                </p>

                                <form action="http://kingdom.muxxu.com/search" method="POST"
                                      class="searchpla">
                                    <div class="tid_userSearchContainer"
                                         style="width: 145px; height: 36px; float: left;"><img
                                                class="tid_loadingSearch"
                                                src="{{ asset('img/loading.gif') }}">
                                        <div class="tid_search_popup"
                                             style="display: none; margin-left: 25px;"></div>
                                        <div class="tid_search_popup" style="display:none"></div>
                                        <a href="http://kingdom.muxxu.com/#"
                                           class="tid_friendsButton"
                                           style="height: 36px; padding-top: 1px; line-height: 36px; z-index: 2; position: absolute;"><img
                                                    class="tid_down"
                                                    src="{{ asset('img/design/arrowDrop.png')}}"
                                                    alt=""><img class="tid_ficon"
                                                                src="{{ asset('img/icons/contact.png')}}"
                                                                alt=""></a><input name="name_name"
                                                                                  class="tid_userSearch inputtext tid_parsed tid_withFriends"
                                                                                  autocomplete="off"
                                                                                  style="width: 116px; height: 36px; float: none; position: absolute; z-index: 1; padding-left: 29px;"><input
                                                type="hidden" name="name" id="undefined"></div>
                                    <input type="submit" value="Chercher" class="button">
                                </form>

                            </div>