

<div id="generals" style="display: none;">
    {% if (lord.generals|length) == 0 %}
        <p class="nothing">
            {{ 'tabs.generals.noGeneral' | trans([], 'Management') }}
        </p>
    {% else %}
        <table class="blocks">
            <tbody>
            <tr>
                {% set a = 0 %}
                {% for general in lord.generals %}  
                    {% if a%3 == 0 %}
                    </tr> <tr>
                    {% endif %}
                    {% set a = a+1 %}
                    <td>
                        <div class="blocks_top">
                            <h3 class="h3c">
                                <p class="gdef">
                                    <a href="/map?id={{ app.request.get('id') }}">{{ general.name }}</a>
                                </p>
                            </h3>
                            <div class="blocks_bg">
                                <div class="blocks_bottom">
                                    <div class="p">
                                        {{ ('tabs.generals.waitingAt') | trans([], 'Management') }} <a href="/map?id={{ app.request.get('id') }}">{{ general.location.name }}</a>
                                    </div>
                                    <p>
                                        <img src="{{ asset('img/help.gif') }}"
                                            class="help"
                                            onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;{{ 'tabs.generals.reputation' | trans([], 'Management') }}&lt;/h1&gt;{{ 'tabs.generals.reputationTooltip' | trans([], 'Management') }}&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                            onmouseout="mt.js.Tip.hide()">
                                        <span class="dt">{{ 'tabs.generals.reputation' | trans([], 'Management') }}</span> :
                                            <strong>{{ general.reputation }}</strong> 
                                        <img src="{{ asset('img/icons/l_rep.png') }}">
                                    </p>
                                    <p>
                                        <img src="{{ asset('img/help.gif') }}"
                                            class="help"
                                            onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;{{ 'tabs.generals.maintenance' | trans([], 'Management') }}&lt;/h1&gt;{{ 'tabs.generals.maintenanceTooltip' | trans([], 'Management') }}&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                            onmouseout="mt.js.Tip.hide()">
                                        <span class="dt">{{ 'tabs.generals.maintenance' | trans([], 'Management') }}</span> :
                                            <strong>{{ max(0, general.armyContainer.TotalUnitCount - general.reputation) }}</strong> 
                                            <img src="{{ asset('img/icons/small/res_gold.gif') }}">
                                    </p>

                                    <ul class="ismall">
                                        {% for army in general.armyContainer.unitArmies %}
                                            {% set unitName = army.resource.name %}
                                            <li>
                                                <div class=""
                                                    onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;{{ ('units.'~unitName~'.name') | trans([], 'Common') }}&lt;/h1&gt;{{ ('units.'~unitName~'.desc') | trans([], 'Common') }}&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                    onmouseout="mt.js.Tip.hide()">
                                                    <img src="{{ asset('img/icons/small/u_'~army.resource.name~'.gif') }}" alt="">
                                                    <span class="number">{{ army.amount }}</span>
                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endif %}
</div>




{# WHEN MOVING
<td>
									<div class="blocks_top">
										<h3 class="h3c">
											<p class="gmove">
												<a href="/map?g=1521641">symfony</a>
											</p>
										</h3>
										<div class="blocks_bg">
											<div class="blocks_bottom">
												<div class="p">
												
													Se déplace entre <a href="/map?c=794410">Les Toromos-les-Guibain</a> et <a href="/map?c=794450">Annomoi</a>
													<div>
													
	<script type="text/javascript">
	mt.js.Timer.TIMES="jhms";
	mt.js.Timer.alloc('2021-11-06 12:18:36','2021-11-06 13:23:27',2,null);
	</script><div id="timer_0" class="timer">1h 03m </div>

													</div>
												
												</div>
												<p>
													
	<img src="/img/help.gif" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Réputation</h1>La réputation de votre général grandit quand il remporte des batailles. Chaque point de réputation permet à votre général de réduire le coût en or des unités qui l\'accompagnent.</div></div></div>')" onmouseout="mt.js.Tip.hide()">

													<span class="dt">Réputation</span> :
													
	<strong>1</strong> <img src="/img/icons/l_rep.png">

												</p>
												<p>
													
	<img src="/img/help.gif" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Entretien</h1>Le coût d\'entretien des soldats à chaque tour.</div></div></div>')" onmouseout="mt.js.Tip.hide()">

													<span class="dt">Entretien</span> :
													
	<strong>1</strong> <img src="/img/icons/small/res_gold.gif">

												</p>
											
	<ul class="ismall">
		
		<li>
	<div class="" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Soldat</h1>Un bon soldat qui fera bien son travail tant qu\'il sera payé.</div></div></div>')" onmouseout="mt.js.Tip.hide()">
		<img src="/img/icons/small/unit_sold.gif" alt="">
		<span class="number">1</span>
	</div>
</li>
		
<li>
	<div class="" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Catapulte</h1>Une catapulte est une unité ayant un bonus de +200% mais uniquement lors de l\'attaque d\'une ville ou d\'un lieu.</div></div></div>')" onmouseout="mt.js.Tip.hide()">
		<img src="/img/icons/small/unit_cat.gif" alt="">
		<span class="number">1</span>
	</div>
</li>
		
	</ul>
	<div class="clear"></div>
	

											</div>
										</div>
									</div>
								</td>
#}