
<div id="kingdom" style="display: none;">
    {% if (lord.kingdom|length) == 0 %}
        <p class="nothing">
            {{ 'tabs.kingdom.noTown' | trans([], 'Management') }}
        </p>
    {% else %}
        <div class="tablevb_top">
            <div class="tablevb_bottom">
                <div class="tablevb_bg">
                    <table class="tablevb">
                        <tbody>

                            {# Column names #}
                            <tr class="first">
                                <th> {{ 'tabs.kingdom.town' | trans([], 'Management') }} </th>
                                <th> {{ 'tabs.kingdom.status' | trans([], 'Management') }} </th>
                                <th>
                                    <span
                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;{{ 'stats.trade.name' | trans([], 'Management') }}&lt;/h1&gt;{{ 'stats.trade.desc' | trans([], 'Management') }}&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                        onmouseout="mt.js.Tip.hide()">
                                        <img src="{{ asset('img/icons/l_tax.png') }}">
                                    </span>
                                </th>
                                <th>
                                    <span
                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;{{ 'tabs.generals.maintenance' | trans([], 'Management') }}&lt;/h1&gt;{{ 'tabs.generals.maintenanceTooltip' | trans([], 'Management') }}&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                        onmouseout="mt.js.Tip.hide()">
                                        <strong></strong> 
                                        <img src="{{ asset('img/icons/Small/res_gold.gif') }}">
                                    </span>
                                </th>
                                <th>
                                    <span
                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;{{ 'tabs.kingdom.units' | trans([], 'Management') }}&lt;/h1&gt;{{ 'tabs.kingdom.unitsTooltip' | trans([], 'Management') }}&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                        onmouseout="mt.js.Tip.hide()">
                                        <img src="{{ asset('img/icons/l_battle.png') }}">
                                    </span>
                                </th>
                            </tr>

                            {% set a = 0 %}
                            {% for town in lord.kingdom %}
                                {% set status = '' %}
                                {% set trade = town.trade %}
                                {% set freeSoldiers = 0 %}
                                
                                {% if town == lord.city.cityNode %}
                                    {% set status = 'Votre Capitale' %}
                                    {% set trade = '--' %}
                                    {% set freeSoldiers = [0,5,10,20,50,100][lord.city.buildingLevel('barracks')] %}
                                    {% set tradeTooltip = ('tabs.kingdom.noCityTrade' | trans([], 'Management')) %}
                                {% endif %}

                                {% if town == lord.city.cityNode %}        {# CHECK IF ITS A CITYNODE #}
                                    {% set tradeTooltip = ('tabs.kingdom.noCityTrade' | trans([], 'Management')) %}
                                {% elseif town.armyContainer.TotalUnitCount > town.trade/2 %}
                                    {% set iconURL = asset('img/icons/c_up.png') %}
                                    {% set tradeTooltip = ('tabs.kingdom.increasingTrade' | trans([], 'Management')) %}
                                {% elseif town.armyContainer.TotalUnitCount == town.trade//2 %}
                                    {% set iconURL = asset('img/icons/c_equal.png') %}
                                    {% set tradeTooltip = ('tabs.kingdom.stableTrade' | trans([], 'Management')) %}
                                {% elseif town.armyContainer.TotalUnitCount < town.trade/2 %}
                                    {% set iconURL = asset('img/icons/c_down.png') %}
                                    {% set tradeTooltip = ('tabs.kingdom.decreasingTrade' | trans([], 'Management')) %}
                                {% endif %}
                                
                                <tr {% if a%2 == 0 %} class="even" {% endif %}>
                                    <td>
                                        <a href="/map?id={{ app.request.get('id') }}">{{ town.name }}</a>
                                    </td>
                                    <td>
                                        {{ status }}
                                    </td>
                                    <td class="center">
                                        <span {% if trade!='--' and trade<0 %}class="need"{% endif %}
                                            onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;{{ tradeTooltip }}&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                            onmouseout="mt.js.Tip.hide()">{{ trade }}      
                                            {% if town != lord.city.cityNode %}        {# CHECK IF ITS A CITYNODE #}
                                                <img src="{{ iconURL }}">
                                            {% endif %}     
                                        </span>
                                    </td>
                                    <td class="center">{{ town.armyContainer.TotalUnitCount - freeSoldiers }}</td>
                                    <td class="{% if town.armyContainer.TotalUnitCount == 0 %}need{% endif %} center"
                                        {% if town.armyContainer.TotalUnitCount == 0 %}
                                            onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'>Aucune unité en défense</div></div></div>')"
                                        {% else %}
                                            onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;{{ 'tabs.kingdom.defense' | trans([], 'Management') }}&lt;/h1&gt;		&lt;ul class=&quot;ismall&quot;&gt;				{% for army in town.armyContainer.unitArmies %}&lt;li&gt;	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;{{ army.resource.name }}&amp;lt;/h1&amp;gt;{{ ('units.'~army.resource.name~'.desc') | trans([], 'Management') }}&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;		&lt;img src=&quot;{{ asset('img/icons/small/u_'~army.resource.name~'.gif') }}&quot; alt=&quot;&quot;/&gt;		&lt;span class=&quot;number&quot;&gt;{{ army.amount }}&lt;/span&gt;	&lt;/div&gt;&lt;/li&gt; {% endfor %}       &lt;/ul&gt;	&lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;	&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                        {% endif %}
                                        onmouseout="mt.js.Tip.hide()">
                                        {{ town.armyContainer.TotalUnitCount }}
                                    </td> 
                                </tr>
                                {% set a = a+1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{# IF RESOURCE ON THE NODE
<td>
    Champ de Lin
	<div class="sres">
		<img src="/img/icons/small/res_lin.gif" alt="">
		<span class="number">50</span>
	</div>
</td>
#}