{% trans_default_domain 'Management' %}

<ul>
	<li>
	    <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ 'stats.title.name' | trans([], 'Management') }}</h1>{{ 'stats.title.desc' | trans([], 'Management') }}</div></div></div>')" onmouseout="mt.js.Tip.hide()">
        <span class="dt">{{ 'stats.title.name' | trans }} :</span>
		<b>{{ ('lord.titles.'~lord.title) | trans([], 'Common') }}</b>
	</li>

	<li>
		<img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ ('stats.age.name') | trans }}</h1>{{ ('stats.age.name') | trans }}</div></div></div>')" onmouseout="mt.js.Tip.hide()">
        <span class="dt">{{ ('stats.age.name') | trans }} :</span>
		<b>{{ 'lord.age' | trans({'%years%': lord.ageYear, '%months%': lord.ageMonth|number_format }, "Common") }}</b>
	</li>
	
    <li>
	<img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ 'stats.health.name' | trans }}</h1>{{ 'stats.health.desc' | trans }}</div></div></div>')" onmouseout="mt.js.Tip.hide()">
    <span class="dt">{{ 'stats.health.name' | trans }} :</span>
	<b>{{ ('healths.'~lord.health) | trans }}</b>
	</li>
	
    <li>
	    <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ 'stats.glory.name' | trans }}</h1>{{ 'stats.glory.desc' | trans }}</div></div></div>')" onmouseout="mt.js.Tip.hide()">
        <span class="dt">{{ 'stats.glory.name' | trans }} :</span>
	    <b><strong>{{ lord.glory }}</strong> <img src="{{ asset('img/icons/l_up.png') }}"></b>
	</li>
	
    <li>
		<img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ 'stats.maxGlory.name' | trans }}</h1>{{ 'stats.maxGlory.desc' | trans }}</div></div></div>')" onmouseout="mt.js.Tip.hide()">
        <span class="dt">{{ 'stats.maxGlory.name' | trans }} :</span>
		<b><strong>{{ lord.maxGlory }}</strong> <img src="{{ asset('img/icons/l_up.png') }}"></b>
	</li>
										
    <li>
	    <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ 'stats.trade.name' | trans }}</h1>{{ 'stats.trade.desc' | trans }}</div></div></div>')" onmouseout="mt.js.Tip.hide()">
        <span class="dt">{{ 'stats.trade.name' | trans }} :</span>
		<b><strong>{{ lord.trade }}</strong> <img src="{{ asset('img/icons/small/res_gold.gif') }}"></b>
	</li>
</ul>