<td class="infosleft">
    <div class="tid_module tid_moduleLoading tid_modinit"
         ondblclick="return {chk:'1136650df2fdd6f7c517a62d9cb92e61',url:'/mod/userSheet/832',infos:'oy4:modey8:verticalg'}"
         id="tid_0">
        <div class="tid_userSheet tid_mine"
             id="tid_userSheet_vertical_832" tid_id="832">
            <div class="tid_userSheetBg tid_vertical tid_isContact">
                <div class="tid_bgRight">
                    <div class="tid_header">
                        <div class="tid_headerRight">
                            <div class="tid_module tid_modinit tid_moduleLoading"
                                 ondblclick="return {
                                     chk:'8fec75dde725a85d6e5c8b9dc671bfae',
                                     url:'/mod/like',
                                     infos:'oy4:sitey0:y3:urly37:http%3A%2F%2Ftwinoid.com%2Fuser%2F832y7:compactty5:titley22:Profil%20de%20Glaurungg'
                                 }"
                                 id="tid_1">
                                <span class="tid_likeButtonCompact"
                                      title="  Vous appréciez ce contenu, merci ! :)  ">
                                    <a href="http://kingdom.muxxu.com/#"
                                       onclick="return _tid.moduleAction(this,{ add : false },event)"
                                       title="  Vous appréciez ce contenu, merci ! :)  ">
                                        <img class="tid_likeIcon"
                                             src="./Kingdom - Gestion suzerain_files/miniIcon_on.png">&nbsp;26
                                    </a>
                                </span>
                            </div>
                            <div class="tid_userName">
                                <img class="tid_isContactIcon"
                                     src="./Kingdom - Gestion suzerain_files/contact.png">
                                <img class="tid_isUnknownIcon"
                                     src="./Kingdom - Gestion suzerain_files/notContact.png">
                                <span onedit="window.location='http://twinoid.com/user/account/name'"
                                      class="tid_editable"
                                      title="Cliquez pour modifier cet élément de votre profil"><img
                                            class="tid_editIcon"
                                            src="./Kingdom - Gestion suzerain_files/edit.png">Glaurung</span>
                            </div>
                            <div class="tid_clear"></div>
                        </div>
                    </div>

                    <div class="tid_title tid_editable"
                         onedit="_tid.askTitleEdit()"
                         title="Cliquez pour modifier cet élément de votre profil">
                        <img class="tid_editIcon"
                             src="./Kingdom - Gestion suzerain_files/edit.png">
                        <span class="tid_userTitle"><img
                                    src="./Kingdom - Gestion suzerain_files/l_emperor.png"
                                    alt="[?]" title=""> Druide des temps modernes</span>
                    </div>

                    <table>
                        <tbody>
                        <tr>
                            <td class="tid_avatar">
                                <div onedit="window.location = 'http://twinoid.com/user/account/avatar'"
                                     class="tid_editable"
                                     title="Cliquez pour modifier cet élément de votre profil">
                                    <img class="tid_editIcon"
                                         src="./Kingdom - Gestion suzerain_files/edit.png">
                                    <div class="tid_twinoidAvatar"
                                         style="width:70px; max-height:70px">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td style="width:70px; height:35px;">
                                                    <img class="tid_avatarImg"
                                                         src="./Kingdom - Gestion suzerain_files/00589542_832.jpg"
                                                         alt="Glaurung"
                                                         title=""
                                                         style="max-width:70px; max-height:70px">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                            <td class="tid_details">

                                <div class="tid_asv tid_editable"
                                     onedit="window.location='http://twinoid.com/user/account/profile'"
                                     title="Cliquez pour modifier cet élément de votre profil">
                                    <img class="tid_editIcon"
                                         src="./Kingdom - Gestion suzerain_files/edit.png">
                                    <div class="tid_age">
                                        <img src="./Kingdom - Gestion suzerain_files/male.png"
                                             alt="Male"
                                             title="Homme">
                                        59 ans
                                    </div>
                                    <div class="tid_city">
                                        Nargothrond
                                    </div>
                                    <div class="tid_country">
                                        DragonLand
                                    </div>
                                </div>

                                <table class="tid_actions">
                                    <tbody>
                                    <tr>
                                        <td class="tid_doProfile">
                                            <a class="tid_button tid_tip tid_parsed"
                                               href="http://twinoid.com/user/832"
                                               tid_id="832"
                                               onclick="_tid.askUserMenu($(this)); return false"
                                               target="_top"><img
                                                        src="./Kingdom - Gestion suzerain_files/down.png"
                                                        alt="Profil"></a>
                                        </td>

                                        <td class="tid_doProfile">
                                            <a class="tid_button tid_tip tid_parsed"
                                               href="http://muxxu.com/u/Glaurung_22667"
                                               target="_top"><img
                                                        src="./Kingdom - Gestion suzerain_files/favicon(3).ico"
                                                        alt="Profil"></a>
                                        </td>


                                        <td class="tid_filler"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td class="tid_under" colspan="2">

                                <div class="tid_userStatus">

                                    <div class="tid_arrow tid_up"></div>
                                    <div class="tid_bubble">
                                        <div class="tid_content">
                                            <div onedit="_tid.invalidateParentModule($(this)); _tid.askStatusEdit()"
                                                 class="tid_editorContent tid_editable tid_parsed"
                                                 title="Cliquez pour modifier cet élément de votre profil">
                                                <img class="tid_editIcon"
                                                     src="./Kingdom - Gestion suzerain_files/edit.png">

                                                «&nbsp;<p>
                                                    bonjour à
                                                    tous</p>
                                                <p>de retour
                                                    m'amuser un
                                                    peu après
                                                    une très
                                                    longue
                                                    absence</p>&nbsp;»

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tid_footer">
                    <div class="tid_footerRight"></div>
                </div>
            </div>
        </div>
    </div>
</td>
