{# Used when an error happened #}

<div class="sitePopup siteError">
    <div class="popuptop">
        <div class="popupbottom">
            <div class="popupbg">
                <div class="signimage">
                    <div class="ptext">Vous devez obtenir le titre <b>Seigneur</b> en conquérant plus de lieux avant de pouvoir construire ce bâtiment !</div>
                    <a class="button" href="#" id="_n_but" onclick="return js.App.hideNotification(false)">Continuer</a>
                    <script type="text/javascript">_.autoButton('_n_but')</script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="black"></div>