{# List of log entries to add into any log list #}

{% trans_default_domain 'Logs' %}

{% for log in logs %}
    <li>
        {% set dateString = 'date.logTimestamp' | trans({'%date%': (log.timestamp | date( 'date.dateFormat' | trans )), '%time%': (log.timestamp | date( 'date.timeFormat' | trans ))}) %}
        <span class="datelog">{{ dateString }}</span> - {{ log.message | trans(log.params) | raw }}
    </li>
{% endfor %}