{# Display pending construction in City index or options #}

{% trans_default_domain 'City' %}

{% if constructionProject != null %}
    {% set projectName = constructionProject.name %}
    {% set projectType = constructionProject.constructionType %}
    <div class="build centeredDiv">
        <p class="firstp index">{{ 'messages.pendingConstruction.message' | trans }}
            <b
                    onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ (projectType~'s.'~projectName~'.name') | trans([], 'City') }}</h1>{{ (projectType~'s.'~projectName~'.desc') | trans([], 'City') }}</div></div></div>')"
                    onmouseout="mt.js.Tip.hide()">
                {{ (projectType~'s.'~projectName~'.name') | trans }}
            </b>
            (<strong>{{ remainingHammers }}</strong> <img src="{{ asset('img/icons/small/icon_hammer.gif')}}" alt="Hammer Icon"> {{ 'messages.pendingConstruction.remaining' | trans }})
        </p>
    </div>
{% endif %}