{# Used to display one server in the server selection page #}

{% trans_default_domain 'OutGame' %}

{% set playerCount = 0 %}
{% set maxPlayerCount = 32 %}

{% set isOwnerOfPrivateWorld = true %}
{% set groupName = "Group Name" %}

{# Débutant: unit_sold, Moyenne: unit_pal, Pro: unit_bal #}
{% set difficultyIcon = 'img/help.gif' %}
{% if difficulty == "beginner" %}
    {% set difficultyIcon = 'img/icons/small/u_soldier.gif' %}*
{% elseif difficulty == "regular" %}
    {% set difficultyIcon = 'img/icons/small/u_archer.gif' %}
{% elseif difficulty == "medium" %}
    {% set difficultyIcon = 'img/icons/small/u_ballista.gif' %}
{% elseif difficulty == "hard" %}
    {% set difficultyIcon = 'img/icons/small/u_paladin.gif' %}
{% endif %}

<tr>
    <td>
        {# TODO Change url to specify the worldID to inspect: Be able to inspect a world in order to see current state of the game #}
        {{ 'serverSelection.worldOf' | trans }} <a href="{{ path('app_map_map', {id: worldId}) }}">{{ worldName }}</a>
        {# TODO If custom world, display the group name #}
        {% if isPrivateWorld %}
            <p><b>({{ groupName }})</b></p>
        {% endif %}
    </td>
    <td>
        <strong>{{ playerCount }} / {{ maxPlayerCount }} {{ 'serverSelection.players' | trans }}</strong>
        <img src="{{ asset(difficultyIcon) }}" alt="Difficulty {{ difficulty }}"
             onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'>{{ 'serverSelection.difficulty' | trans }} : {{ ('serverSelection.'~ difficulty) | trans }}</div></div></div>')"
             onmouseout="mt.js.Tip.hide()">
    </td>
    <td>
        <a href="{{ path('app_outgame_joingame', {worldId: worldId}) }}" class="button" onclick="return confirm('{{ 'serverSelection.confirm' | trans }}')">{{ 'serverSelection.button.join' | trans }}</a>
    </td>
    <td>
        {# TODO Change url to specify the worldID to inspect: Be able to inspect a world in order to see current state of the game #}
        <a href="{{ path('app_map_map', {id: worldId}) }}">{{ 'serverSelection.button.world' | trans }}</a>
        {# TODO Create a new action for the map Leaderboard ! #}
        <a href="{{ path('app_map_ranks', {id: worldId}) }}">{{ 'serverSelection.button.leaderboard' | trans }}</a>

        {% if isPrivateWorld and isOwnerOfPrivateWorld %}
            {# TODO Create a new action that permits to modify the rules for custom servers!!! #}
            <a href="{{ path('app_map_modify', {id: worldId}) }}">{{ 'serverSelection.button.modifyRules' | trans }}</a>
        {% endif %}
    </td>
</tr>