{# Templates/Game/ServerSelection.html.twig #}
{# Page to select the game to play (and possibly create a custom/private game) #}

{% extends 'base.html.twig' %}

{% trans_default_domain 'OutGame' %}

{% block title %}
    - {{ 'serverSelection.title' | trans }}
{% endblock %}
{% block metaDescription %}
    "{{ 'serverSelection.metaDescription' | trans }}"
{% endblock %}

{% block content %}
    <div class="choose">
        <div class="artworkchoose"></div>

        <p><em>{{ app.user.displayName }}</em>{{ 'serverSelection.introduction' | trans | raw }}</p>

        <div class="tableleft"></div>
        <div class="tableright"></div>
        <table class="tablekingdom2">
            <tbody>
            <tr class="title">
                <th colspan="4">
                    {{ 'serverSelection.arrayTitle' | trans }}
                </th>
            </tr>

            {# Private server #}
            {# TODO put a world object into the component, not plenty of parameters #}
            {% include 'Game/ServerEntry.html.twig' with {difficulty: 'beginner', worldId: 0, worldName: "Someone", isPrivateWorld: true} %}

            {# REGULAR SERVER EXAMPLE #}
            {% include 'Game/ServerEntry.html.twig' with {difficulty: 'regular', worldId: 1, worldName: "Grabougri", isPrivateWorld: false} %}
            {% include 'Game/ServerEntry.html.twig' with {difficulty: 'medium', worldId: 2, worldName: "Poicolude", isPrivateWorld: false} %}
            {% include 'Game/ServerEntry.html.twig' with {difficulty: 'hard', worldId: 3, worldName: "Armageddon", isPrivateWorld: false} %}

            <tr>
                <td colspan="5">{{ 'serverSelection.tips.firstPart' | trans }} <a href="{{ path('app_help_help') }}">{{ 'serverSelection.tips.help' | trans }}</a> {{ 'serverSelection.tips.lastPart' | trans }}</td>
            </tr>

            <tr class="lastr">
                <td colspan="5"></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
