{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/map.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="map_frame">
        <h1>Carte du Monde de Kerilaye</h1>
        <div id="map_tip">
        </div>
        <canvas id="map_view"></canvas>
        <canvas id="map_click"></canvas>
        <div class ="map_actions">
            <ul>
                <li id="zoom_in">
                    <img src="{{ asset('img/icons/map_zoom_in.gif') }}" alt="Zoom in button" />
                </li>
                <li id="zoom_out">
                    <img src="{{ asset('img/icons/map_zoom_out.gif') }}" alt="Zoom out button" />
                </li>
                <li id="go_to_capital">
                    <img src="{{ asset('img/menu/capital.gif') }}" alt="Go to capital" />
                </li>
                <li id="toggle_strat_mode">
                    <img src="{{ asset('img/menu/map.gif') }}" alt="Strat button" />
                </li>
            </ul>
        </div>
        <div id="map_sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeMapSidebar()">×</a>
            <div id="map_sidebar_content"></div>
        </div>
    </div>
    <div id="generals">
        <ul>
            {% for general in lord.generals %}
                {# onclick -> javascript : focus on general! #}
                <li>{{ general.name }}</li>
            {% endfor %}
        </ul>
    </div>


    <div class="log">
        <h3>Historique du Monde de Kerilaye</h3>
        <ul>
            <li><span class="datelog">Le 31 oct. à 20:53:19</span> - 
                <img src="{{ asset('/img/icons/l_up.png') }}">
                Suite à ses nombreuses conquêtes, <a href="http://kingdom.muxxu.com/user/1301742">flavce</a> a été proclamé <b>Baron</b>
            </li>
            <li><span class="datelog">Le 31 oct. à 20:36:41</span> - 
                <img src="{{ asset('img/icons/l_new.png') }}">
                Un jeune chevalier du nom de <a href="http://kingdom.muxxu.com/user/76802">sebodmer</a> a pris le contrôle de <a href="http://kingdom.muxxu.com/map?c=117614">Champeix</a>.
            </li>
            <li><span class="datelog">Le 31 oct. à 19:55:06</span> - 
                <img src="{{ asset('/img/icons/l_destroy.png') }}">
                Le Royaume du <a href="http://kingdom.muxxu.com/user/3331824">Chevalier Tabloid</a> s'est effondré : <a href="http://kingdom.muxxu.com/map/?c=117700">Confinement du Rousk</a> est désormais une ville Barbare.
            </li>
            <li><span class="datelog">Le 31 oct. à 19:50:07</span> - 
                <img src="{{ asset('/img/icons/small/res_horse.gif') }}">
                On a découvert une <b>Prairie</b> du côté de <a href="http://kingdom.muxxu.com/map?c=117506">Guineuve</a> !
            </li>
            <li><span class="datelog">Le 31 oct. à 19:50:06</span> - 
                <img src="{{ asset('/img/icons/l_conquest.png') }}">
                Le général <b>Sauce barbecue</b> sous les ordres du <a href="http://kingdom.muxxu.com/user/330542">Prince Banana</a> a conquis <a href="http://kingdom.muxxu.com/map?c=117738">Osailyac</a>.
            </li>
            <li><span class="datelog">Le 31 oct. à 19:45:06</span> - 
                <img src="{{ asset('/img/icons/l_conquest.png') }}">
                Le général <b>ASUS</b> sous les ordres du <a href="http://kingdom.muxxu.com/user/51644">Prince Ailleloviou</a> a conquis <a href="http://kingdom.muxxu.com/map?c=117379">Abystopia</a>.
            </li>
            <li><span class="datelog">Le 31 oct. à 19:10:06</span> - 
                <img src="{{ asset('/img/icons/l_destroy.png') }}">
                Le Royaume du <a href="http://kingdom.muxxu.com/user/4968850">Chevalier Zoxem</a> s'est effondré : <a href="http://kingdom.muxxu.com/map/?c=117690">Haarg McLeod</a> est désormais une ville Barbare.
            </li>
            <li><span class="datelog">Le 31 oct. à 18:35:39</span> - 
                <img src="{{ asset('/img/icons/l_new.png') }}">
                Un jeune chevalier du nom de <a href="http://kingdom.muxxu.com/user/4968850">Zoxem</a> a pris le contrôle de <a href="http://kingdom.muxxu.com/map?c=117690">Haarg McLeod</a>.
            </li>
            <li><span class="datelog">Le 31 oct. à 18:15:06</span> - 
                <img src="{{ asset('/img/icons/l_conquest.png') }}">
                Le général <b>schtroumpf</b> sous les ordres du <a href="http://kingdom.muxxu.com/user/2779400">Baron Lunairement</a> a conquis <a href="http://kingdom.muxxu.com/map?c=117470">Auxiryac</a>.
            </li>
            <li><span class="datelog">Le 31 oct. à 17:50:17</span> - 
                <img src="{{ asset('/img/icons/l_up.png') }}">
                Suite à ses nombreuses conquêtes, <a href="http://kingdom.muxxu.com/user/106873">Abbys</a> a été proclamé <b>Baron</b>
            </li>
            <li><span class="datelog">Le 31 oct. à 17:50:17</span> - 
                <img src="{{ asset('/img/icons/l_conquest.png') }}">
                Le général <b>Tonkin</b> sous les ordres du <a href="http://kingdom.muxxu.com/user/106873">Baron Abbys</a> a capturé
                <a href="http://kingdom.muxxu.com/map?c=117422">prisciland</a> sans aucune résistance
            </li>
            <li><span class="datelog">Le 31 oct. à 17:00:05</span> - 
                <img src="{{ asset('/img/icons/l_conquest.png') }}">
                Le général <b>Rigel</b> sous les ordres du <a href="http://kingdom.muxxu.com/user/4606023">Prince Huiry</a> a conquis <a href="http://kingdom.muxxu.com/map?c=117554">Luvaux</a>.
            </li>
        </ul>
    </div>
{% endblock %}