{% extends 'base.html.twig' %}

{% trans_default_domain 'Map' %}

{% block content %}
    <div class="ranks">
        <h1 class="imgstandard">{{ 'ranks.title' | trans({'%worldName%': 'Eternal-Twin'}) }}</h1>

        <div class="tableleft"></div>
        <div class="tableright"></div>
        <div class="tablebghack">
            <table class="tablekingdom">
                <tbody><tr class="title">
                    <th>{{ 'ranks.table.rank' | trans }}</th>
                    <th><a href="/map/ranks/0?sort=title"><span>{{ 'ranks.table.title' | trans }}</span></a></th>
                    <th><a href="/map/ranks/0?sort=glory"><img src="{{ asset('img/icons/l_up.png') }}"> <span>{{ 'ranks.table.glory' | trans }}</span></a></th>
                    <th><a href="/map/ranks/0?sort=reput"><img src="{{ asset('img/icons/l_rep.png') }}"> <span>{{ 'ranks.table.reputation' | trans }}</span></a></th>
                    <th><a href="/map/ranks/0?sort=trade"><img src="{{ asset('img/icons/l_tax.png') }}"> <span>{{ 'ranks.table.trade' | trans }}</span></a></th>
                    <th><a href="/map/ranks/0?sort=age"><img src="{{ asset('img/icons/l_hp.png') }}"> <span>{{ 'ranks.table.age' | trans }}</span></a></th>
                </tr>
                {% for lord in lords %}
                    <tr class="important">
                        <td>{{ loop.index }}</td>
                        {# Should be /user and not management since we're not always in game. Management is only while in game #}
                        <td><a href="/management/{{ lord.id }}">{{ ('lord.titles.'~ lord.title) | trans([], "Common") }} {{ lord.name }}</a></td>
                        <td>
                            <strong>{{ lord.glory }}</strong> <img src="{{ asset('img/icons/l_up.png') }}">
                        </td>
                        <td>
                            <strong>{{ lord.reputation }}</strong> <img src="{{ asset('img/icons/l_rep.png') }}">
                        </td>
                        <td>
                            <strong>{{ lord.trade }}</strong> <img src="{{ asset('img/icons/small/res_gold.gif') }}">
                        </td>
                        <td>
                            {{ 'lord.age' | trans({'%years%': lord.ageYear, '%months%': lord.ageMonth|number_format }, "Common") }}
                        </td>
                    </tr>
                {% endfor %}

                <tr class="lastr">
                    <td colspan="6"></td>
                </tr>
                </tbody></table>
        </div>
    </div>

    <div class="pagination">
        <div class="back">

        </div>
        <div class="pages"> {{ 'ranks.page' | trans }} 1 / 1 </div>
        <div class="next">

        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}