
{% extends 'City/city.html.twig' %}

{% block cityOptionsTitle %}
	{{ 'header.recruitGeneral' | trans([], 'City') }}
{% endblock %}

{% block cityOption %}
	<div class="centeredDiv">
		<p class="firstp">
			Merci de donner un nom à votre général :
		</p>

		<form action="{{ path('app_city_recruitgeneral') }}" method="POST">
			<p>Nom : <input name="name" maxlength="20" class="inputtext"> <input type="submit" value="Valider" class="button"></p>
		</form>
	</div>
	<a href="{{ path('app_city_city') }}" class="button">{{ 'messages.back' | trans([], 'City') }}</a>
{% endblock %}