{# Templates/Management/management.html.twig #}
{# Lord Management page #}

{% extends 'base.html.twig' %}

{% block cache %}
    <img src="{{ asset('img/buttonover.gif') }}">
    <img src="{{ asset('img/firstover.gif') }}">
    <img src=""{{ asset('img/tabover.gif') }}"">
{% endblock %}

{% block content %}
    {% if lord is null %}
        Lord not found!!!
    {% endif %}

    {# TODO Cleanup html to have less lines !!! #}
    <h1 class="userh1_intabl">{{ lord.name }} (ID: {{ lord.id }})</h1>
    <table class="usertable">
        <tbody>
        <tr>
            <td class="left">
                <div class="box4">
                    <div class="box4bottom">
                        <div class="box4bg">
                            <h2 class="h2h">
                                {{ 'header.infos.name' | trans([], 'Management') }}
                            </h2>

                            <table class="infos">
                                <tbody>
                                <tr>
                                    {# TWINOID USER INFO PART (See the component TwinoidUserInfo.html.twig) #}

                                    {# LORD INFO #}
                                    <td>
                                        {% include 'Management/Components/LordInfo.html.twig' with {'lord': lord} %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            {# TODO Look if we have more actions here. In any case, buy turns will be removed!!! #}
                            <ul class="actions">
                                {# Disabled for now, we could maybe add some action later #}
                                {#
                                <li>
                                    <div class="disable" onclick="document.location = '/buy'">
                                        <img src="{{ asset('img/icons/a_turns.png') }}">
                                        <span>{{ 'messages.buyTurns' | trans([], 'Management') }}</span>
                                    </div>
                                </li>
                                #}
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                {# Javascript handling TABS #}
                <script type="text/javascript">
                    //<![CDATA[
                    function tab(x) 
                    {
                        var a = ['generals', 'vassals', 'kingdom', 'diplomacy'];
                        for (var i = 0; i < a.length; i++) 
                        {
                            document.getElementById(a[i]).style.display = (a[i] == x) ? '' : 'none';
                            document.getElementById('t' + a[i]).className = (a[i] == x) ? 'active' : 'notactive';
                        }
                    }
                    //]]>
                </script>

                <ul class="tabs">
                    {% for tabName in ['generals', 'vassals', 'kingdom', 'diplomacy'] %}
                        <li id="{{ 't'~tabName }}" class="notactive">
                            <div class="first" onclick="tab('{{ tabName }}')">

                                <img src="{{ asset('img/help.gif') }}" class="help"
                                    onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'&gt;<div class=\'tipbottom\'&gt;<div class=\'tipbg\'&gt;<h1&gt;{{ ('tabs.'~tabName~'.title') | trans([], 'Management') }}</h1&gt;{{ ('tabs.'~tabName~'.tooltip') | trans([], 'Management') }}</div&gt;</div&gt;</div&gt;')"
                                    onmouseout="mt.js.Tip.hide()">
                                {{ ('tabs.'~tabName~'.title') | trans([], 'Management') }}
                            </div>
                        </li>
                    {% endfor %}
                    
                   
                </ul>

                <div class="boxtab">
                    <div class="boxtabbottom">
                        <div class="boxtabbg">
                            
                            {# GENERALS #}
                            {% include 'Management/Components/GeneralsTab.html.twig' with { 'lord' : lord} %}
                            
                            {# VASSALS #}
                            {% include 'Management/Components/VassalsTab.html.twig' with { 'lord' : lord} %}
                            
                            {# KINGDOMS #}
                            {% include 'Management/Components/KingdomTab.html.twig' with { 'lord' : lord} %}
                            
                            {# DIPLOMACY #}
                            {% include 'Management/Components/DiplomacyTab.html.twig' with { 'lord' : lord} %}
                            
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    tab('generals');
                </script>
            </td>
            
            <td class="right">
                <div class="box3">
                    <div class="box3bottom">
                        <div class="box3bg">
                            <h2 class="h2f" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Capitale</h1>Votre capitale est le centre de votre Royaume, vous pouvez y construire des bâtiments, déveloper votre population, et former vos armées</div></div></div>')" onmouseout="mt.js.Tip.hide()">
                                <a href="/map?c=785490">{{ lord.city.name }}</a>
                            </h2>

                            <table class="homeres">
                                <tbody><tr>
                                    <td>
                                        <div class="homegest">


                                            <div class="res">
                                                <div class="resp"><span class="n">{{ lord.city.StorageCount('wheat') }}</span></div>
                                                <img src="{{ asset('img/icons/res_wheat.png')}}" alt="">
                                            </div>


                                            <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Quantité actuelle de nourriture</h1>Il s\'agit de la <em>nourriture</em> disponible dans les réserves de votre Capitale.</div></div></div>')" onmouseout="mt.js.Tip.hide()">


                                            <div class="line"></div>
                                            <ul>
                                                <li>

                                                    <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'>Il s\'agit de la <em>nourriture</em> utilisée pour nourrir la population de la capitale après chaque tour de production.</div></div></div>')" onmouseout="mt.js.Tip.hide()">
                                                    <img src="{{ asset('img/icons/food_capital.gif')}}"><span>-{{ lord.city.PopulationCount }}/tour</span>
                                                </li>
                                            </ul>
                                            <div class="line"></div>
                                            <p class="total">Total :</p>  <p class="number">-{{ lord.city.PopulationCount }}/tour</p>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="homegest">

                                            <div class="res disable">
                                                <div class="resp"><span class="n">{{ lord.city.StorageCount('gold') }}</span></div>
                                                <img src="{{ asset('img/icons/res_gold.png')}}" alt="">
                                            </div>


                                            <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Quantité actuelle d\'or</h1>Il s\'agit de l\'<em>or</em> disponible dans les réserves de votre capitale.</div></div></div>')" onmouseout="mt.js.Tip.hide()">

                                            <div class="line"></div>
                                            <ul>
                                                <li>

                                                    <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Entretien Total</h1>Il s\'agit de l\'<em>or</em> utilisé pour payer les soldats après chaque tour de production.</div></div></div>')" onmouseout="mt.js.Tip.hide()">
                                                    <img src="{{ asset('img/icons/gold_army.gif')}}"><span>0/tour</span>
                                                </li>
                                                <div class="line"></div>
                                                <li>

                                                    <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Commerce Total</h1>Il s\'agit de l\'<em>or</em> que vous gagnez ou perdez après chaque tour de production grâce au commerce généré dans votre Royaume. <b>Votre suzerain prélève \r\n	<strong>0</strong> <img src=&quot;/img/icons/small/res_gold.gif&quot;/>\r\n de taxes sur votre commerce.</b></div></div></div>')" onmouseout="mt.js.Tip.hide()">
                                                    <img src="{{ asset('img/icons/gold_kingdom.gif')}}"><span>0/tour</span>
                                                </li>
                                            </ul>
                                            <div class="line"></div>
                                            <p class="total">Total :</p>  <p class="number">0/tour</p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody></table>

                            <p><a href="{{ path('app_city_city') }}" class="button">Gérer votre Capitale</a></p>

                            <h2 class="h2g" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ 'header.overlord.name' | trans([], 'Management') }}</h1>Si votre ville est conquise, vous aurez un suzerain qui taxera votre commerce</div></div></div>')" onmouseout="mt.js.Tip.hide()">Suzerain</h2>



                            <p class="nothing">
                                Votre capitale est actuellement libre, vous êtes votre propre Suzerain.
                            </p>


                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <a href="{{ path('app_map_ranks', {id: 0}) }}" class="button">Classement</a>
                    <a href="/pantheon?uid=795" class="button">Panthéon</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="log">
        <h3>{{ 'header.logs.name' | trans([], 'Management') }}</h3>
        <ul>
            <li class="turn"><span class="datelog">Le 21 févr. à 15:25:12</span> -
                <img src="{{ asset('img/icons/l_new.png') }}">
                La ville de <a href="/map?c=785490">{{ lord.city.name }}</a> vous a été confiée et vous y avez établi votre capitale !
            </li>
        </ul>
    </div>
{% endblock %}
